[submodule "external_tokenizers/flextok"]
	path = external_tokenizers/flextok
	url = git@github.com:apple/ml-flextok.git

[submodule "external_tokenizers/TiTok"]
	path = external_tokenizers/TiTok
	url = git@github.com:bytedance/1d-tokenizer.git

[submodule "external_tokenizers/postTok"]
	path = external_tokenizers/postTok
	url = git@github.com:dzj441/postTok.git